*{
    box-sizing: border-box;
    color: #06457f;
    font-family: sans-serif;
}
body{
    margin: 20px;
    display: grid;
    background-color: #06457f;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto auto 1fr auto;
    grid-template-areas: 
    "header header"
    "nav nav"
    "main aside"
    "footer footer";
    min-height: 100vh;
}
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: header;
    gap: 20px;
    padding: 20px;
    background-color: #a8c4ec;

}
header h1{
    margin: 0px;
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-bottom: solid 10px #06457f;
}
header img{
    width: 200px;
    height: auto;
    transition: all 0.9s ease;
}
header img:hover{
    transform: scale(1.1);
}
#presentacion{
    font-size: 20px;
    font-weight: bold;
}
nav{
    justify-content: center;
    grid-area: nav;
    padding: 5px;
    display: flex;
    background-color: #262b40;
}
nav ul{
    display: flex;
}
nav a{
    width: 15vw;
    margin: 8px;
    padding: 8px;
    list-style: none;
    text-decoration: none;
    background-color: #5379ae;
    justify-content: center;
    gap: 20px;
    font-family: serif;
    font-weight: bold;
    border-radius: 5px;
    transition: all 0.9s ease;
}
nav ul a li{
    text-align: center;
    color: #e6f0f7;
}
nav a:hover{
    color: #82AFC8;
    background-color: #3f5b83;
    transform: scale(1.08);
    border-radius: 8px;
}
main{
    grid-area: main;
    background-color: #C8BCA0;
}
section{
    padding: 20px;
    height: 100%;
    grid-area: section;
    background-color: #2c444c;
}
article{
    min-height: 150px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #a8c4ec;
}
article img{
    width: 100%;
}
article li{
    font-size: 20px;
}
p{
  font-size: 20px;
}
aside{
    grid-area: aside;
    padding: 20px;
    color: #ffffff;
    background-color: #0474c4;
    min-height: 100%;
}
footer{
  grid-area: footer;
  padding: 20px;
  background-color: #262b40;
  justify-content: center;
  align-items: center;
}
footer h3{
  justify-content: center;
  color: #ffffff;
}
footer ul{
  display: flex;
  justify-content: center;
  gap: 20px;
  list-style: none;
}
footer a{
  text-decoration: none;
  padding: 20px;
  color: #e6f0f7;
}
footer a:hover {
  color: #80a8c8;
  text-decoration: underline;
}
